body {
  background-image: url("wood-background5.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}


h1 {
  margin-top: 50px;
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: #444 3px 3px 6px;
  font-family: 'Slackey', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
}

.trackers {
  text-align: center;
}

#dice-board {
  border: 2px solid white;
  width: 400px;
  height: 150px;
  margin-top: 100px;
 /* background-color: white;*/
}

.dice {
  display: inline;
  font-size: 10rem; 
  margin-left: 9px; 
  /*text-align: center;  */ 
}



/*CSS 3 animation */
.flash {
 -moz-animation: flash 2s ease-out;
 -moz-animation-iteration-count: 1;

 -webkit-animation: flash 2s ease-out;
 -webkit-animation-iteration-count: 1;

 -ms-animation: flash 2s ease-out;
 -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
   0% { background-color: none; }
   50% { background-color: #fbf8b2 ; }
   100% { background-color: none; }
}

@-moz-keyframes flash {
   0% { background-color: none; }
   50% { background-color: #fbf8b2 ; }
   100% { background-color: none; }
}

@-ms-keyframes flash {
   0% { background-color: none; }
   50% { background-color: #fbf8b2 ; }
   100% { background-color: none; }
}
