h1 {
  margin-top: 100px;
  color: red;
  text-align: center;
  font-size: 50px;
  text-shadow: #444 3px 3px 6px;
  font-family: 'Slackey', cursive;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  text-align: center;
}

a {
  text-align: center;
}
.btn {
  font-family: 'Play', sans-serif;
  font-size: 20px;
  margin: 25px;
  text-align: center;
}
.btn:focus {
outline: none;
}
